<p id="notice"><%= notice %></p>

<table>
	<tr>
  <th>Prize:</th>
  <th>Present to Win</th>
  <th>Start</th>
  <th>End</th>
  <th>Meeting</th>
  <th>Sponsor</th>
</tr>
<tr>
 <td> <%= @contest.prize %></td>
 <td><%= @contest.present_to_win %></td>
 <td><%= @contest.start_date.strftime("%m/%d/%Y %I:%M %p") %></td>
 <td><%= @contest.end_date.strftime("%m/%d/%Y %I:%M %p") %></td>
 <td><%= @meeting.name%></td>
 <td><%= @sponsor.url%></td>
</tr>
</table>





<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
