<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Address:</b>
  <%= @venue.address %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<p>
  <b>State:</b>
  <%= @venue.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @venue.zip %>
</p>

<div class="rightcolumn">
	<div class="innerDiv">
		<h3>Meetings</h3>
		
		<%@meeting.each do |m|%>
	
			<%=m.name%><br/>
			<%=m.start_date.strftime("%m/%d/%Y %I:%M %p")%><br/>
			<%=m.end_date.strftime("%m/%d/%Y %I:%M %p")%><br/>
			
		<%end%>
	
	</div>
</div>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
